@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

nav{
    width: 100vw;
 
   border-radius: 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

   
}

.LeftNav{
     width: 20%;
     justify-content: space-around;
     align-items: center;
      
}

ul>li{
    list-style-type: none;
    font-size: 20px;;
    font-family: 'Noto Sans', sans-serif;

    cursor: pointer;
  
}


.navbar-btn{
    color:white;
    border: none;
    border-radius: 16px;
    padding: 5px 9px 5px 9px;

}
.rightNav{
 
    margin-left: 30px;
   
    color: black;
  
   font-family: 'Noto Sans', sans-serif;
   
}

h2{
    font-size: 45px;
    cursor: pointer;
}

img{
    width: 40px;
}



.userPro{
    border: none;
    position: relative;
    background-color: transparent;
    left: 110px;
}