@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
nav{
    width: 100vw;
 
   border-radius: 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

   
}

.LeftNav{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;

     
      
}

#login-signup{
    margin-right: 40px;
    position: relative;
    right: -300px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

ul>li{
    list-style-type: none;
    font-size: 20px;;
    font-family: 'Noto Sans', sans-serif;

    cursor: pointer;
  
}


.navbar-btn{
    color:white;
    
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 16px;
    padding: 5px 9px 5px 9px;

}


.rightNav{
 
    margin-left: 30px;
    font-family: 'Alkatra', cursive;
    color: white;
  
   
}

#title{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

img{
    width: 40px;
}



.userPro{
    border: none;
    position: relative;
    background-color: transparent;
    left: 110px;
}